<!DOCTYPE html>
<html>
<head>
  <title>User Login</title>
</head>
<body>
    <h1>User Login</h1>
    <form method="POST" action = "/login">
      <input type="email" name="email" id = 'email' placeholder="Email">
      <input type="password" name="password" id = 'password' placeholder="Password">
      <input type="Submit" name="Login">
    </form>
</body>
</html>