<!DOCTYPE html>
<html>
<head>
  <title>Register User</title>
</head>
<body>
    <h1>New User Register</h1>
    <form method="POST" action = "/register">
      <input type="email" name="email" id = 'email' placeholder="Email">
      <input type="password" name="password" id = 'password'placeholder="Password">
      <input type="submit" name="submit">
    </form>
</body>
</html>