<!DOCTYPE html>
<%include ./partials/_header.ejs%>

<html lang = 'en'>
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
    <% for(var link in urls){%>
        <li><%=urls[link]%></li>
        <%console.log('in indexejs file')%>

        <form method="POST" action="/urls/<%=link%>/delete">
          <button placeholder="http://">Delete this shorturl</button>
        </form>

        <form method = 'GET' action = '/urls/<%=link%>'>
          <button>Edit</button>
        </form>

        <%}%>
  </ul>
  <!--Form element for deleting shorturl -->


</body>
</html>