<!DOCTYPE html>
<html lang="en">
<head>
    <title>Single URL Page</title>
</head>
<body>
  <form action="/urls/<%=shorturl%>" method="POST">
    <h1>ShortURL:<%=shorturl%></h1>
<!--     <input  id = 'newlongURL' type = 'text' name ='newlongURL' style="width: 300px"> -->
    <input type="submit" value="redirect to longurl">

  </form>
</body>
</html>

<!--user choosed one url, this page is single url-->