<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<!--username exist + logout button-->
<%if(user_id !== undefined){%>
  <form method="POST" action = "/logout">
    <label><%=user_id%></label>
    <input type="submit" value="Logout">
  </form>

  <!--add a link to add new url page-->
    <form method="GET" action = "/urls/new">
    <label>Add new url</label>
    <input type="submit" value="Add">
  </form>

  <% }else{%>
  <!--user not exist WHAT TO DO, redirect to login page?-->
      <a href="/register">Register</a>
      <a href="/login">Login</a>
<!--     <form method="GET" action = "/login">
    <input type="submit" value="Login"> -->
  </form>
  <%}%>

</body>
</html>