<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<!--username exist + logout button-->
<%if(username){%>
  <form method="POST" action = "/logout">
    <label><%=username%></label>
    <input type="submit" value="Logout">
  </form>

  <% }else{%>
  <!--username not exist-->
    <form method="POST" action = "/login">
    <label>Please Login</label>
    <input type = 'text' name ='username' placeholder='Username'>
    <input type="submit" value="Submit">
  </form>
  <%}%>


</body>
</html>